<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<http pattern="/resources" security="none" />

	<http auto-config="true"  use-expressions="true">	
		<intercept-url pattern="/login" access="permitAll"/>
		<intercept-url pattern="/login2" access="permitAll"/>
		<intercept-url pattern="/logout" access="permitAll"/>
		<intercept-url pattern="/denied" access="permitAll"/>
		<intercept-url pattern="/configuracionUsuario/ver" access="permitAll"/>
		<intercept-url pattern="/configuracionUsuario/obtenerCompaniasPorRol" access="permitAll"/>
		<!--<intercept-url pattern="/" access="hasAnyRole('ROLE_USER') and hasIpAddress('192.168.0.5/25')"/>-->
		<intercept-url pattern="/" access="hasAnyRole('PRIVILEGIO_USER','PRIVILEGIO_ADMIN')"/>

		<!--intercept-url pattern="/registrarCursoVista" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>
		<intercept-url pattern="/verReporteVista" access="hasAnyRole('ROLE_REPORTE','ROLE_ADMIN')"/>
		<intercept-url pattern="/regresarPrincipalVista" access="isAuthenticated()"/>
		<intercept-url pattern="/curso/registrarCurso" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>
		<intercept-url pattern="/curso/obtenerCursoPorId" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>
		<intercept-url pattern="/curso/obtenerSubDirecciones" access="hasAnyRole('ROLE_REGISTRO','ROLE_REPORTE','ROLE_ADMIN')"/>
		<intercept-url pattern="/curso/responsable/autocomplete" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>
		<intercept-url pattern="/curso/getCodigoDireccion" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>
		<intercept-url pattern="/curso/getCodigoSubDireccion" access="hasAnyRole('ROLE_REGISTRO','ROLE_ADMIN')"/>

		<intercept-url pattern="/curso/generarReporte" access="hasAnyRole('ROLE_REPORTE','ROLE_ADMIN')"/>
		<intercept-url pattern="/reporte/generarReporteCursos" access="hasAnyRole('ROLE_REPORTE','ROLE_ADMIN')"/-->

		<form-login login-page="/login"	authentication-failure-url="/login/failure"	default-target-url="/"/>
		
		<access-denied-handler error-page="/denied"/>
		
		<logout invalidate-session="true" 	logout-success-url="/logout/success" logout-url="/logout"/>
		
		<session-management > 
			<concurrency-control error-if-maximum-exceeded="true" max-sessions="1"/>
    	</session-management>
		
	</http>
	
	<authentication-manager>
	        <authentication-provider user-service-ref="customUserDetailsService">
	        		<password-encoder hash="plaintext"/>
	        </authentication-provider>
	</authentication-manager>
</beans:beans>